<fieldset>
  <%= f.label :nome, 'Categoria:' %>
  <%= f.text_field :nome, placeholder: 'Categoria' %>
  <%#= label_tag :identifier, 'Identificador:' %>
  <%= label_tag :identifier, f.object.identifier, class: 'slug-field' %>
  <div class="msg">&nbsp;
    <%= error_tag @cat, :nome %>
  </div>
</fieldset>

<fieldset>
  <%= f.label :parent_id, 'Subordinada a:' %>
  <%= f.select :parent_id, Category.where.not(id: @cat.id).order(:nome).collect{|k| [k.nome, k.id]}, { include_blank: true} %>
  <div class="msg">&nbsp;
    <%= error_tag @cat, :parent_id %>
  </div>
</fieldset>

<fieldset class="btn-form">
  <%= f.submit value: 'Gravar', data: { disable_with: 'Gravando...' } %>
</fieldset>

<% @cat.errors.messages.each do |error| %>
  <%= content_tag :div, "#{error}", class: 'msg' %>
<% end %>

<% if flash["msg_#{@cat.id}"].present? %>
  <%= content_tag :div, flash["msg_#{@cat.id}"], class: 'message' %>
<% end %>

<% if flash["msg_cat_new"].present? %>
  <%= content_tag :div, flash["msg_cat_new"], class: 'message' %>
<% end %>
