<div class="frm frm-menus" id="adm_menus">
  <%= content_tag :h6, fas_icon('bars', text: 'Menus'), class: 'title' %>
  &nbsp;
  <div class="menus">
    <div class="tree-data">
      <div class="tree">
        <%= content_tag :div, class: "tree-filter", data: { url: adm_site_menus_tree_filter_path() } do |f| %>
          <fieldset class="filtro-item nome">
            <%= text_field_tag 'find[query]', '', placeholder: 'localizar', class: 'search-field', autocomplete: "off" %>
            <%= content_tag :span, fa_icon('search'), class: 'insideico' %>
          </fieldset>
        <% end %>
        <div id="menus_tree">
          <%= render partial: 'menus_tree' %>
        </div>
      </div>
      <div class="data" id="menu-form-container">

      </div>
    </div>
  </div>
</div>
