
<div class="frm frm-sendmail-pass-recovery">
  <%= content_tag :h6, 'Recuperar Senha', class: 'title' %>
  <%= form_with url: user_send_mail_password_recovery_path(0), method: :patch, remote: true , data: { turbo: false} do |f| %>
  
  <%= invisible_captcha :subtitle %>
  
    <fieldset>
      <%= f.label :recovery_email, 'Email cadastrado' %>
      <%= f.text_field :recovery_email %>
    </fieldset>
    <div class="recovery-message msg"></div>
    <fieldset class="btn-form">
      <%= f.submit value: 'Enviar', data: {disable_with: 'enviando...' } %>
    </fieldset>
  <% end %>
  

  
</div>
