<h3 class="title"><%= 'Redefinir Senha' %></h3>
 
<div id="form"> 
<%= form_with model: @user,  url: user_resset_password_update_path(@user.id), method: :patch, remote: true, data: { remote: true} do |f| %>
  
  
    
  <%= f.hidden_field :token, name: 'token', value: params[:token] %>
  <%= f.hidden_field :email, name: 'email', value: params[:email] %>
  <fieldset>
    <%= f.label :password, 'informe uma nova senha' %>
    <%= f.password_field :password, placeholder: 'Senha' %>
    <div class="msg" id="password">&nbsp;
      <%= error_tag @user, :password %>
    </div>
  </fieldset>
  <fieldset>
    <%= f.label :password_confirmation, 'confirme sua nova senha' %>
    <%= f.password_field :password_confirmation, placeholder: 'Confirmação de senha' %>
    <div class="msg" id="password_confirmation">&nbsp;
      <%= error_tag @user, :password_confirmation %>
    </div>
  </fieldset>
  <fieldset class="btn-form">
    <%= f.submit value: 'Alterar senha', data: {disable_with: 'Gravando...' } %>
  </fieldset>
  
<% end %>
</div>
