<div class="frm frm-adm-new-curso adm-curso" id="curso-data">
  <%= content_tag :h6, 'Novo Curso', class: 'title' %>  
  
  <%= form_with model: @curso, url: adm_cursos_create_curso_path(), method: :post, html: { autocomplete: "off" } do |f| %>
    
    <%= render partial: 'curso_fields', locals: { f: f } %>
    
    <fieldset class="btn-form">
      <%= f.submit value: 'Criar Curso', data: { disable_with: 'Gravando Curso...' } %>
    </fieldset>
    
    <% @curso.errors.messages.each do |error| %>
      <%= content_tag :div, "#{error}", class: 'msg' %>
    <% end %>
    
  <% end %>
  
</div>
