 
<%#= fields %>
<% @preview ||= false %>
<% grupo = ConfGrupo.find_by(nome: 'Aplicação') %>
<% if grupo.present?
  app_logo = grupo.conf.find_by(nome: 'app_logo') rescue nil
  app_title = grupo.conf.find_by(nome: 'app_title') rescue nil
  app_description = grupo.conf.find_by(nome: 'app_description') rescue nil
end %>
<% if @preview && (app_logo.nil? || app_title.nil? || app_description.nil? ) %>
  <%= content_tag :div, class: 'msg', style: 'text-align: left' do %>
    <%= content_tag :p, 'Defina o logo do site em: Configurações -> Aplicação -> app_logo -> anexo' %>
    <%= content_tag :p, 'Defina o título do site em: Configurações -> Aplicação -> app_title' %>
    <%= content_tag :p, 'Defina a descrição do site em: Configurações -> Aplicação -> app_description' %>
  <% end %>
<% end %>
<%= content_tag :div, class: 'mceItem-pm pm pm-logo preview' do %>
  <%= content_tag :div, '', class: "site-logo #{fields[:disposition]} #{fields[:alignment]}" do %>
    <% if fields[:image_show] == '1' %>
      <div class="logo-image">
        <%= load_site_logo(app_logo, fields[:image_height], fields[:image_width]) %>
      </div>
    <% end %>
    <% if fields[:title_show] == '1' || fields[:description_show] == '1' %>
      <div class="logo-title-description">
        <% if fields[:title_show] == '1' %>
          <div class="logo-title">
            <%= content_tag( :h1, app_title.valor, class: "#{fields[:title_alignment]}", style: "#{fields[:title_font_size].blank? ? '': 'font-size:' +fields[:title_font_size] + 'px'}; color: #{fields[:title_font_color]}" ) rescue '' %>
          </div>
        <% end %>
        <% if fields[:description_show] == '1' %>
          <div class="logo-description">
            <%= content_tag(:h4, app_description.valor, class: "#{fields[:description_alignment]}", style: "#{fields[:description_font_size].blank? ? '' :  'font-size' + fields[:description_font_size] + 'px'}; color: #{fields[:description_font_color]}") rescue '' %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
