<%= content_tag :div, class:"navigation-bar #{fields[:navigation_bar_position] == 'abaixo_interno' ? 'inside bottom' : '' } #{fields[:navigation_bar_position]  == 'acima_interno' ? 'inside top' : ''}" do %>
  <div class="nav-items">
    <% if fields[:navigation_bar] == 'pontos' %>
      <% posts.each_with_index do |dot, i| %>
        <div class="dot-container">
          <%= content_tag :div, class: "nav-dot #{i == 0 ? ' active' : ''}", id: "item-#{dot.id}", data: { index: i} do %>
            <%= fas_icon('circle') %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% if fields[:navigation_bar] == 'miniaturas' %>
      <% posts.each_with_index do |mini, i| %>
        <%= content_tag :div, '', class: "nav-dot #{i == 0 ? ' active' : ''}", id: "item-#{mini.id}", data: { index: i} do %>
          <%= content_tag :div, class: "item-container#{i == 0 ? ' f' : ''} #{i == posts.count - 1 ? ' l' : ''}" do %>
            <% if mini.featured_image.present?  %>
              <%= load_blob(mini.featured_image,50,50) %>
            <% else %>
              <%= load_blob(mini.attachment.first, 50, 50 ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
